---
---
/*********************************************************************************/
/* Filter Sidebar                                                                */
/*********************************************************************************/

//@import "filter";

/*********************************************************************************/
/* Define Variables                                                              */
/*********************************************************************************/

$green:     #7dc679;
$blue:      #23aebb;
$gray:      #707070;


/*********************************************************************************/
/* Custom CSS                                                                    */
/*********************************************************************************/

body {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  color:#000000;
  margin: 0px;
  padding: 0px;
  background: url("../images/bg.png")
}

a {
  color: #666666;
  text-decoration: underline;
}

a img {
  text-decoration: none;
  border: none;
}

a img:hover {
  opacity: 0.5;
}

a:hover {
  color: #23aebb;
  text-decoration: underline;
}

#topborder {
  height:35px;
  background-color:#1a1a1a;
  width:100%;
}

ul.header-icons {
  margin: 0 0 0 0px;
  padding: 0px 30px 0px 0px;
  height: 35px;
  float: right;
  display: inline;
}

ul.header-icons a {
  text-decoration: none;
}

ul.header-icons a:hover {
  color: #23aebb !important;
}

ul.header-icons li {
  margin: 0 0 0 0px;
  padding: 0px 30px 0px 0px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  vertical-align: top;
}

ul.header-icons li.text-link a {
  color: #7dc679;
}

ul.header-icons li a img {
  opacity: .5;
}

ul.header-icons li a img:hover {
  opacity: 1;
}

.topcontact {
  display: inline;
  margin:0 0 0 0px;
  float: right;
  padding:0px 30px 0px 0px;
  height: 35px;
}

.mailto {
  text-decoration:none;
  font-weight:bold;
}

.clear {
  clear: both;
}

#header {
  width:940px;
  height: 217px;
  margin: 0 auto 30px;
  padding-left: 10px;
  padding-right: 10px;
  }

.intro {
  margin-bottom:100px;
  margin-top:-20px;
  margin-right:0px;
  margin-left:350px;
  padding:22px 0;
  text-align: left;
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-shadow: 0 1px 0 white;

}

.filter-bar {
  min-height: 45px;
  line-height: 45px;
  background-color: #ffffff;
  padding: 0 1em;
  margin: 0 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0px 10px 10px -10px #888;
  -moz-box-shadow: 0px 10px 10px -10px #888;
  -webkit-box-shadow: 0px 10px 10px -10px #888;
}

.filter-bar ul.navbar-left {
  float: left;
}

.filter-bar ul.navbar-right {
  float: right;
}

.filter-bar a {
  text-decoration: none;
  padding: 0 1em;
  cursor: pointer;
  &.current {
    color: $blue;
    cursor: default;
  }
}

@media (max-width: 700px) {
  .filter-bar ul.navbar-left {
    border-bottom: 1px solid #e7e7e7;
  }
  .filter-bar ul.navbar-left, .filter-bar ul.navbar-right {
    float: none;
  }
  .filter-bar ul.list-inline > li {
    display: list-item;
    line-height: 3em;
  }
}

#loading {
  text-align: center;
  margin-top: 50px;
  color: #888;
}

#filter-focus {
  position: absolute;
  top: 280px;
}

#allposts {
  opacity: 0;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding:0px;
  background: #eeeeee;
  background: url("../images/bg.png");
  min-height: 1500px; // Allows consistency on ScrollToFilter effect for short pages
}

.landing-cta {
  color: #333;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5em;
}

/*********************************************************************************/
/* Cards                                                                         */
/*********************************************************************************/

.eachpost {
  width: 300px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 3px;
  box-shadow:0px 0px 10px #888;
  -moz-box-shadow:0px 0px 10px #888;
  -webkit-box-shadow:0px 0px 10px #888;
  filter:progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=90),progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180),progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=270);
}

.eachpost.w-half {
  width: 135px;
}

.eachpost > div {
  padding: 10px;
  margin: 0px;
}

.eachpost img {
  width: 280px;
}

.eachpost.w-half img {
  width: 80px;
}

.card-image img {
  width: 100%;
  border-radius: 3px;
}

.card-header {
  color: #ff6633;
  margin-bottom: 10px;
  line-height: 14px;
  font-size: 14px;
  font-weight: bold;
}

.card-header a {
  text-decoration: none;
  color: #ff6633;
}

.card-header a:hover {
  text-decoration: none;
  color: #23aebb;
}

div > .card-body {
  padding: 0px 10px;
}

.card-body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.card-body p img {
  display:none;
}

.card-body ul {
  padding-left: 25px;
}

.img-bg-avatar {
  background: url("/images/img-bg-avatar.jpg");
  background-position: right center;
}

.eachpost img.avatar {
  width: 130px;
  margin-left: 30px;
  border: 3px solid #fff;
  z-index: 500;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

div > .card-footer {
  padding-top: 0px;
}

ul.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-tags {
  color: #bbb;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #b0b0b0;
    text-decoration: none;
  }
}

ul.list-inline > li {
    display: inline-block;
    padding-right: 5px;
}

ul.list-inline > li {
    display: inline-block;
    padding-right: 5px;
}

/*********************************************************************************/
/* Filter Sidebar Overrides                                                      */
/*********************************************************************************/

/* Not yet used
.cd-main-content {
  min-height: inherit;
}

.cd-tab-filter li:first-child {
  display: inline-block;
}

.cd-tab-filter a, a.cd-filter-trigger {
  text-decoration: none;
  text-transform: none;
}

a.cd-filter-trigger {
  background: transparent url("/images/icons/cd-icon-filter.svg") no-repeat center center;
  left: auto;
}

.cd-filter::before {
  background-color: #23aebb;
}

.cd-filter .cd-close {
  background: #888;
}

.cd-filter-block .checkbox-label::after {
  background: url("/images/icons/cd-icon-check.svg") no-repeat center center;
}
*/

/*********************************************************************************/
/* Colors                                                                        */
/*********************************************************************************/

span.green { color: $green; }

span.blue { color: $blue; }

span.grey { color: $gray; font-weight:bold; }

span.black { color: #000000; }

