---
---
/*********************************************************************************/
/* Filter Sidebar                                                                */
/*********************************************************************************/

//@import "filter";

/*********************************************************************************/
/* Define Variables                                                              */
/*********************************************************************************/

$green:         #7dc679;
$blue:          #23aebb;
$orange:        #ff6633;
$gray:          #707070;

$text-color:    #333333;

/*********************************************************************************/
/* Custom CSS                                                                    */
/*********************************************************************************/
html {
  font-size: 12px;
}

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  margin: 0px;
  padding: 0px;
  background: url("../images/bg.png")
}

a {
  color: #666666;
  text-decoration: underline;
}

a:hover {
  color: $blue;
  text-decoration: underline;
}

a img {
  text-decoration: none;
  border: none;
}

a img:hover {
  opacity: 0.5;
}

#topborder {
  height:35px;
  background-color: #1a1a1a;
  width:100%;
}

ul.header-icons {
  margin: 0 0 0 0px;
  padding: 0px 30px 0px 0px;
  height: 35px;
  float: right;
  display: inline;
}

ul.header-icons a {
  text-decoration: none;
}

ul.header-icons a:hover {
  color: $blue !important;
}

ul.header-icons li {
  margin: 0 0 0 0px;
  padding: 0px 30px 0px 0px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  vertical-align: top;
}

ul.header-icons li.text-link a {
  color: #7dc679;
}

ul.header-icons li a img {
  opacity: .5;
}

ul.header-icons li a img:hover {
  opacity: 1;
}

.hero {
  width: 940px;
  min-height: 217px;
  margin: 0 auto 30px;
  padding-left: 10px;
  padding-right: 10px;
  img .logo {
    width: 100px;
    height: 98px;
  }
  .hero-text {
    margin-right: 0px;
    margin-left: 350px;
    padding: 22px 0;
    text-align: left;
    font-size: 4rem;
    font-weight: 300;
    span {
      font-size: 3rem;
      color: #7dc679;
    }
    @media (max-width: 800px) {
      margin-left: 120px;
    }
    @media (max-width: 600px) {
      margin-left: 0;
      font-size: 2rem;
    }
  }
}

/*********************************************************************************/
/* Filter Bar                                                                    */
/*********************************************************************************/

.filter-bar {
  min-height: 45px;
  line-height: 45px;
  background-color: #ffffff;
  padding: 0 1em;
  margin: 0 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0px 10px 10px -10px #888;
  -moz-box-shadow: 0px 10px 10px -10px #888;
  -webkit-box-shadow: 0px 10px 10px -10px #888;
}

.filter-bar ul.navbar-left {
  float: left;
}

.filter-bar ul.navbar-right {
  float: right;
}

.filter-bar a {
  text-decoration: none;
  padding: 0 1em;
  cursor: pointer;
  &.current {
    color: $blue;
    cursor: default;
  }
}

@media (max-width: 700px) {
  .filter-bar ul.navbar-left {
    border-bottom: 1px solid #e7e7e7;
  }
  .filter-bar ul.navbar-left, .filter-bar ul.navbar-right {
    float: none;
  }
  .filter-bar ul.list-inline > li {
    display: list-item;
    line-height: 3em;
  }
  //TEMP HACK: hide filter bar on mobile
  .filter-bar {
    display: none;
  }
}

#loading {
  text-align: center;
  margin-top: 50px;
  color: #888;
}

#filter-focus {
  position: absolute;
  top: 280px;
}

/*********************************************************************************/
/* Cards                                                                         */
/*********************************************************************************/

#allposts {
  opacity: 0;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding:0px;
  background: #eeeeee;
  background: url("../images/bg.png");
}

.eachpost {
  width: 290px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 3px;
  box-shadow:0px 0px 10px #888;
  -moz-box-shadow:0px 0px 10px #888;
  -webkit-box-shadow:0px 0px 10px #888;
  filter:progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=0),progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=90),progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180),progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=270);
}

.card-image img {
  width: 100%;
  border-radius: 3px;
}

.card-header {
  color: $orange;
  padding: 20px 0;
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-body {
  p:first-child {
    margin-top: 0;
  }
}

.card-tags {
  color: #bbb;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #b0b0b0;
    text-decoration: none;
  }
}

ul.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list-inline > li {
  display: inline-block;
  padding-right: 5px;
}

ul.list-inline > li {
  display: inline-block;
  padding-right: 5px;
}

.landing-cta {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
}

/*********************************************************************************/
/* Filter Sidebar Overrides                                                      */
/*********************************************************************************/

/* Not yet used
.cd-main-content {
  min-height: inherit;
}

.cd-tab-filter li:first-child {
  display: inline-block;
}

.cd-tab-filter a, a.cd-filter-trigger {
  text-decoration: none;
  text-transform: none;
}

a.cd-filter-trigger {
  background: transparent url("/images/icons/cd-icon-filter.svg") no-repeat center center;
  left: auto;
}

.cd-filter::before {
  background-color: $blue;
}

.cd-filter .cd-close {
  background: #888;
}

.cd-filter-block .checkbox-label::after {
  background: url("/images/icons/cd-icon-check.svg") no-repeat center center;
}
*/
