<div class="eachcard w-full sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5 p-4 {% for each in card.data.tags %}{{ each | slugify }} {% endfor %}">
  <div class="bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    {% if card.data.image_href %}
      <a href="{{ card.data.image_href }}"><img class="w-full mx-auto border-none rounded-t-lg" src="/images/{{ card.data.image }}" alt="{{ card.data.header }}"></a>
    {% else %}
      <img class="w-full mx-auto border-none rounded-t-lg" src="/images/{{ card.data.image }}" alt="{{ card.data.header }}">
    {% endif %}
    <div class="p-5">
      <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ card.data.header }}</h2>
      <div class="mb-3 font-normal">
        {% for tag in card.data.tags %}
          <!--a href="#{{ tag | slugify }}" class="js-filter text-indigo-700 bg-indigo-100 hover:bg-indigo-200 text-xs font-semibold my-2 px-2.5 py-0.5 rounded whitespace-nowrap" data-filter=".{{ tag | slugify }}">{{ tag }}</a-->
          <a href="#{{ tag | slugify }}" class="js-filter text-gray-900 bg-gray-200 hover:bg-gray-300 text-xs my-2 px-2.5 py-0.5 rounded whitespace-nowrap" data-filter=".{{ tag | slugify }}">{{ tag }}</a>
          {% endfor %}
      </div>
      <div class="prose prose-p:leading-snug prose-li:m-0 mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ card.templateContent }}
      </div>
    </div>
  </div>
</div>
