---
layout: isotope
title: Chad Kruse | Product Strategist
---
{% include header-isotope.html %}

<div id="loading" class="text-center">
  <p>Loading...</p>
</div>

<div id="allposts">

  <!-- Intro Tiles -->
  {% include static-cards/intro-all.html %}
  {% include static-cards/about.html %}

  <!-- Main Tiles -->
  {% assign cards = site.cards | sort: 'sort' %}
  {% for card in cards %}
    {% include card-template.html %}
  {% endfor %}

  <!-- Copyright Tile -->
  {% include static-cards/cc-license.html %}

</div>

<div class="landing-cta">
  <p>Prefer a traditional resume? <a href="/resume">Here you go</a></p>
</div>

