---
layout: default
title: CK | Technology Ventures
---

    {% include header.html %}

    <div id="allposts">
    
        <!-- Intro Tile -->
        <div class="eachpost">
            <div>
                <p><b>Tech Ventures:</b>&nbsp;&nbsp;My early career was mainly with the internal VC and/or strategy and corporate development groups of Fortune 500 technology companies. Later, I transitioned to very small, very early stage startups, including my own.</p>
            </div>
        </div>
        
        <!-- Main Tiles -->

        <div class="eachpost">
            <div>
                

                <div><img src="/images/kyn.jpg" width="200" height="100" /></div><br />
                <br />
                

                <div class="tileheader">
                    Connected Philanthropy
                </div>

                <div class="contentIndex">
                    <p>Philanthropy shouldn't have to be done in the dark. As Ev Williams puts it, "the sharing of ideas and experiences is what moves humanity forward." At Kyn, we're rethinking modern philanthropy systems to bring simplicity, passion, and a personal connection to each and every charitable gift.</p>
                    <p>Read more about <a href="http://www.getkyn.com/our-story.html" target="_blank">why we created Kyn.</a></p>
                    
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
            </div>
        </div><!-- eachpost div -->

        <div class="eachpost">
            <div>
                <div>
                <img src="/images/ggoose2.jpg" width="200" height="175" /></div><br />
                <br />
                

                <div class="tileheader">
                    COO + Biz Dev Lead
                </div>

                <div class="contentIndex">
                    <p>I served as COO for innovative sensor startup GreenGoose during a critical time in the company's history, partnering with the solo founder after a successful seed round but still during the prototype phase.</p>

                    <p>My role changed on a daily (if not hourly) basis, but ranged from crafting the go-to-market strategy and product definition, to early business development and fundraising.</p>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
            </div>
        </div><!-- eachpost div -->

        <div class="eachpost">
            <div>
                <div>
                <img src="/images/forkfly2.jpg" width="200" height="281" /></div><br />
                <br />
                

                <div class="tileheader">
                    COO + Product Lead
                </div>

                <div class="contentIndex">
                    <p>Forkfly continues to assert itself in the highly competitive location-based mobile space, and as COO I had the honor of building a rockstar development team from the ground up, managing and launching three web apps and two mobile platforms, prioritizing a seemingly endless feature list, and helping lead overall strategy development.</p>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Mobile</a>, <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Early Stage</a></small>
            </div>
        </div><!-- eachpost div -->

        <div class="eachpost">
            <div>
                <div>
                <img src="/images/ecomm2.jpg" width="200" height="225" /></div><br />
                <br />
                

                <div class="tileheader">
                    E-commerce Goes Social
                </div>

                <div class="contentIndex">
                    <p>One of the fastest growing marketplaces on the web today, I consulted with Bonanza (formerly Bonanzle) during its bootstrap phase. I served the role of "business guy" with duties generally focused on business partnerships and API evangelism, but also included product management, strategy, data mining, and managing the company's first ad campaign.</p>

                    <p>Great working relationship with the technical co-founder, offloading certain tasks to allow him to fully concentrate on the user experience. The company subsequently raised a $1M first round from a variety of Seattle-based VCs and super angels.</p>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Early Stage</a></small>
            </div>
        </div><!-- eachpost div -->

        <div class="eachpost">
            <div>
                <div>
                <img src="/images/saic2.jpg" width="200" height="150" /></div><br />
                <br />
                

                <div class="tileheader">
                    Corporate VC
                </div>

                <div class="contentIndex">
                    <p>As an early employee of the predecessor group to SAIC Ventures, I worked on the following list of VC deals:</p>

                    <ul>
                        <li>Nuance - Speech Recognition</li>

                        <li>Vocal Data - Hosted IP Telephony</li>

                        <li>Conita - Virtual Assistant</li>

                        <li>CosmoCom - IP Contact Center Technology</li>

                        <li>DigiLens - Switchable Hologram Technology</li>

                        <li>Solect - IP Billing</li>
                    </ul>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">VC</a></small>
            </div>
        </div><!-- eachpost div -->

        <div class="eachpost">
            <div>
                

                <div><img src="/images/10speakblue2.jpg" width="200" height="135" /></div><br />
                <br />
                

                <div class="tileheader">
                    Founder, 10Speak
                </div>

                <div class="contentIndex">
                
                    <p>We're picking apart the core assumptions behind current time, calendaring, and scheduling tools piece by piece and rebuilding them from the ground up. 10speak is our first effort, focused on a specific pain point we felt in our professional lives.</p>
                    
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
            </div>
        </div><!-- eachpost div -->

        <div class="eachpost">
            <div>
                <div>
                <img src="/images/bulb.jpg" width="200" height="133" /></div><br />
                <br />
                

                <div class="tileheader">
                    My (Occasional) Life as a Consultant
                </div>

                <div class="contentIndex">
                    <p><strong>Execution:</strong>&nbsp;I'm a firm believer that ideas are cheap, execution is everything. I enjoy partnering with domain experts, technical founders, and growth-oriented firms to help turn their ideas into reality.</p>

                    <p><strong>Seed Stage Companies:</strong>&nbsp;My consulting work with seed-stage founders centers on creating business models and developing paths to that first customer (or investor, or partner).</p>

                    <p><strong>Growth Companies:</strong>&nbsp;For existing businesses, my value-add is centered on exploring new markets. Intrapreneurship can be incredibly powerful when done right.</p>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">All</a>, <a href="javascript:void(0)">About</a></small>
            </div>
        </div><!-- eachpost div -->

        <div class="eachpost">
            <div>
                <div>
                <img src="/images/intuit3.jpg" width="200" height="113" /></div><br />
                <br />
                

                <div class="tileheader">
                    Technology Corporate Development
                </div>

                <div class="contentIndex">
                    <p>Served as one of four dealmakers for Intuit, the Fortune 500 consumer-focused technology company. Our group not only executed software M&amp;A deals and explored new growth markets, but also served as internal sound board for business unit leaders while continuing to push for innovation across all levels of the company.</p>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Software</a>, <a href="javascript:void(0)">Strategy</a>, <a href="javascript:void(0)">M&amp;A</a></small>
            </div>
        </div><!-- eachpost div -->  
        
        <div class="eachpost">
            <div>
                

                <div><img src="/images/revisu.jpg" width="200" height="173" /></div><br />
                <br />
                

                <div class="tileheader">
                    Advisor, Revisu
                </div>

                <div class="contentIndex">
                
                    <p>Served as an advisor to Revisu, a seed-stage startup that went on to participate in the inaugural class of PIE, Wieden + Kennedy's incubator based in Portland.</p>
                    
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
            </div>
        </div><!-- eachpost div -->              

        <div class="eachpost">
            <div>
                <div>
                <img src="/images/lidar.jpg" width="200" height="134" /></div><br />
                <br />
                

                <div class="tileheader">
                    Applying Technology to Offline Markets
                </div>

                <div class="contentIndex">
                    <p>This was a spin-out idea stemming from my work in conservation-based forestry. The beauty of working with offline businesses is uncovering countless opportunities to apply technology...this was one of those scenarios. With a focus on the small forestland landowner, we developed a system that intended to leverage LIDAR and satellite technologies to inventory ecosystem assets on ALL non-industrial, private forestlands in OR &amp; WA (we're talking millions of acres here). If successful, the platform could disrupt the entire forest products supply chain in Western North America.</p>

                    <p>That's the good news. The bad news is the technology behind the data sets isn't quite there yet, at least not in a way that scales (but lots of smart people are cranking on it as we speak).</p>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Software</a>, <a href="javascript:void(0)">Offline</a></small>
            </div>
        </div><!-- eachpost div -->
        
        <div class="eachpost">
            <div>
                <div>
                <img src="/images/intuit.png" width="200" height="260" /></div><br />
                <br />
                
                <div class="tileheader">
                    Software Transactions
                </div>

                <div class="contentIndex">
                    <p>The following is a representative list of software and online service transactions I have been involved in:</p>

                    <ul>
                        <li>American Fundware - Vertical Software</li>

                        <li>Eclipse - Vertical Software</li>

                        <li>Apps.com - Application Marketplace</li>

                        <li>Paypal - Partnership</li>

                        <li>Billpay / Princeton eCom - Disposition and Partnership</li>

                        <li>Online Brokerage</li>
                    </ul>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Software</a>, <a href="javascript:void(0)">M&amp;A</a></small>
            </div>
        </div><!-- eachpost div --> 

        <div class="eachpost">
            <div>
                <div>
                <img src="/images/github.jpg" width="200" height="125" /></div><br />
                <br />
                

                <div class="tileheader">
                    Love me some Github
                </div>

                <div class="contentIndex">
                    <p>I originally created this site in php but decided to convert and host it at Github Pages (which uses Jekyll). Maybe I'll convert it over to RoR one of these days.</p>
                    <p>View my <a href="https://github.com/chadokruse">Github profile.</a></p>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">About</a>, <a href="javascript:void(0)">Hack</a>, <a href="javascript:void(0)">Fun</a></small>
            </div>
        </div><!-- eachpost div -->
        
        <div class="eachpost">
            <div>
                <div>
                <img src="/images/periscope.jpg" width="200" height="175" /></div><br />
                <br />
                

                <div class="tileheader">
                    Periscope GIS
                </div>

                <div class="contentIndex">
                    <p>PeriscopeGIS is an online application that intends to make large GIS datasets useful to the 80% of GIS users with little to no formal GIS training.</p>

                    <p>We're leveraging the ubiquity of Google Earth&trade;, the cost-effectiveness of AWS, and a little proprietary magic to drastically improve the user experience when accessing large, complicated GIS datasets.</p>

                    <p>Largely a "nights and weekends" project.</p>
                </div>
                <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Side Project</a></small>
            </div>
        </div><!-- eachpost div -->              

        <div class="eachpost">
            <div>
                <p><b>&copy; &nbsp;</b>&nbsp;Chad Kruse&nbsp;&nbsp;|&nbsp;&nbsp;2009-2013</p>
            </div>
        </div>
    </div><!-- allposts div -->
    <!-- DO NOT REMOVE THIS LINE. Grid-A-Licious(tm), a Wordpress theme by Suprb (www.suprb.com). (c) 2008 Suprb. DO NOT REMOVE THIS LINE. -->

  <!-- Blog template remnants
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
-->
