<div class="eachpost">
    <div>
        <div><a href="http://www.10speak.com" target="_blank"><img src="/images/10speakblue2.jpg" width="200" height="135" /></a></div><br />
        <br />
        
        <div class="tileheader">
            Founder, 10Speak
        </div>

        <div class="contentIndex">
        
            <p>My first incubated startup, we picked apart the core assumptions behind current time, calendaring, and scheduling tools piece by piece and set out to rebuild them from the ground up. 10speak was our first effort, focused on a specific pain point we felt in our professional lives.</p>
            
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
    </div>
</div><!-- eachpost div -->