<div class="eachpost">
    <div>
        <div>
        <img src="/images/headshot.jpg" width="200" height="133" /></div><br />
        <br />
        
        <div class="tileheader">
            A Bit About Me
        </div>

        <div class="contentIndex">
            <p>Before launching my own ventures and dabbling with code, I was often brought on as the first "business hire" at startups of all shapes and sizes, online and offline. I've run development teams, launched mobile apps, raised venture, seed, and debt capital, and closed business development deals with companies both large and small. I'm a generalist through and through.</p>
            <p>My career started as a strategist and dealmaker for large tech companies, and I'm often told I have a unique ability to talk shop with programmers, private equity types, philanthropists, and everyone in between.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">All</a>, <a href="javascript:void(0)">About</a></small>
    </div>
</div><!-- eachpost div -->