<div class="eachpost">
    <div>
        <div>
        <img src="/images/sbec.jpg" width="200" height="200" /></div><br />
        <br />
        
        <div class="tileheader">
            CDFI Underwriting
        </div>

        <div class="contentIndex">
            <p>I was hired to assist a local CDFI (community development financial institution) explore the investment merits behind a community wind development.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Sustainability</a>, <a href="javascript:void(0)">Cleantech</a>, <a href="javascript:void(0)">Offline</a></small>
    </div>
</div><!-- eachpost div -->