<div class="eachpost">
    <div>
        <div>
        <img src="/images/cfarails2.jpg" width="200" height="200" /></div><br />
        <br />
        
        <div class="tileheader">
            What do Ruby on Rails and the CFA Program Have in Common?
        </div>

        <div class="contentIndex">
            <p>Quite possibly nothing, except...</p>

            <p><a href="http://www.cfainstitute.org/cfaprog/">The CFA Program</a> (think CPA for the finance world) is something I enrolled in back in 1997 and will probably finish up by taking the final exam next Spring (Level III).</p>

            <p><a href="http://rubyonrails.org/">Ruby on Rails</a> is something I've been tinkering around on for a few months, and the reason I don't have any time to study for the CFA.</p>

            <p>That might possibly make me the only CFA-type currently learning to program.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Finance</a></small>
    </div>
</div><!-- eachpost div --> 