<div class="eachpost">
    <div>
        <div>
        <img src="/images/cfai.jpg" width="200" height="112" /></div><br />
        <br />
        
        <div class="tileheader">
            Where It All Started
        </div>

        <div class="contentIndex">
            <p>My first job out of undergrad. Also the place I got my de-facto MBA thanks to the active and engaged mentoring I received from the firm's partners. Amazing experience working with these nationally-recognized business valuation experts.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Offline</a>, <a href="javascript:void(0)">Business Valuations</a></small>
    </div>
</div><!-- eachpost div -->