<div class="eachpost">
    <div>
        <div>
        <a href="http://www.chronicle.net.au/" target="_blank"><img src="/images/chronicle.jpg" /></a></div><br />
        <br />

        <div class="tileheader">
            Advisor, Chronicle
        </div>

        <div class="contentIndex">
            <p>Incredible team, incredible vision, domain expertise, traction...Chronicle is an astonishingly high potential startup poised to become the defacto thought leader in digital storytelling.</p>
            <p>I'm helping the company transition from their current high-touch model to scalable digital platform, including defining an MVP and mapping out the go-to-market strategy.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
    </div>
</div><!-- eachpost div -->
