<div class="eachpost">
    <div>
        <div>
        <img src="/images/college.jpg" width="200" height="213" /></div><br />
        <br />
        
        <div class="tileheader">
            Education
        </div>

        <div class="contentIndex">
            <p>I received my B.B.A from the University of Iowa with a major in Finance, graduating in 3 1/2 years.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">All</a>, <a href="javascript:void(0)">Education</a></small>
    </div>
</div><!-- eachpost div -->