<div class="eachpost">
    <div>
        <div>
        <img src="/images/bulb.jpg"/></div><br />
        <br />

        <div class="tileheader">
            My (Occasional) Life as a Consultant
        </div>

        <div class="contentIndex">
            <p><strong>Execution:</strong>&nbsp;I'm a firm believer that ideas are cheap, execution is everything. I enjoy partnering with growth-oriented organizations and other domain experts to help turn ideas into reality.</p>

            <p><strong>Roadmaps &amp; Strategy:</strong>&nbsp;I help organizations ensure they're building the right things for the right reasons. For existing businesses, my value-add is centered on exploring new markets - intrapreneurship can be incredibly powerful when done right.</p>

            <p><strong>Seed Stage Companies:</strong>&nbsp;My consulting work with seed-stage founders centers on creating business models and developing paths to that first customer (or investor, or partner).</p>

        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Consulting</a>, <a href="javascript:void(0)">About</a></small>
    </div>
</div><!-- eachpost div -->
