<div class="eachpost">
    <div>
        <div>
        <img src="/images/bulb.jpg" width="200" height="133" /></div><br />
        <br />
        
        <div class="tileheader">
            My (Occasional) Life as a Consultant
        </div>

        <div class="contentIndex">
            <p><strong>Execution:</strong>&nbsp;I'm a firm believer that ideas are cheap, execution is everything. I enjoy partnering with domain experts, technical founders, and growth-oriented firms to help turn their ideas into reality.</p>

            <p><strong>Seed Stage Companies:</strong>&nbsp;My consulting work with seed-stage founders centers on creating business models and developing paths to that first customer (or investor, or partner).</p>

            <p><strong>Growth Companies:</strong>&nbsp;For existing businesses, my value-add is centered on exploring new markets. Intrapreneurship can be incredibly powerful when done right.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">All</a>, <a href="javascript:void(0)">About</a></small>
    </div>
</div><!-- eachpost div -->