<div class="eachpost">
    <div>
        <div>
        <img src="/images/contact.jpg" width="200" height="149" /></div><br />
        <br />
        

        <div class="tileheader">
            Contact
        </div>

        <div class="contentIndex">
            <p><a href="mailto:ck@chadkruse.com">ck@chadkruse.com</a></p>

            <p>Call me: 503.928.7500</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">All</a>, <a href="javascript:void(0)">Contact</a></small>
    </div>
</div><!-- eachpost div -->