<div class="eachpost">
    <div>
        <div>
        <img src="/images/confidential.jpg" width="200" style="margin-top:15px"/></div><br />
        <br />

        <div class="tileheader">
            Process Improvement - CTOs Office
        </div>

        <div class="contentIndex">
            <p>Was hired by the CTO of a 150 person technology company to help him assume the product management function and take the team from good to great.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Growth Stage</a></small>
    </div>
</div><!-- eachpost div -->
