<div class="eachpost">
    <div>
        <div>
        <img src="/images/dailyviva.jpg" width="200" /></div><br />
        <br />

        <div class="tileheader">
            DailyViva
        </div>

        <div class="contentIndex">
            <p>DailyViva is my Meteor.js playground. Sure, I use it personally to create daily routines (no coffee!), but it's mostly a sandbox to try out intermediate to advanced Meteor features. Meteor.wrapAsync anyone?!?</p>

            <p>Links: <a href="https://dailyviva.meteor.com">Demo</a> <a href="https://github.com/chadokruse/dailyviva">Github</a></p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Side Project</a></small>
    </div>
</div><!-- eachpost div -->
