<div class="eachpost">
    <div>
        <div>
        <img src="/images/flower2.jpg" width="200" height="149" /></div><br />
        <br />
        
        <div class="tileheader">
            Do Good | Do Well
        </div>

        <div class="contentIndex">
            <p>Making money and making the world a better place shouldn't be mutually exclusive. I have been involved at the intersection of philanthropy and investing since 2003 (see also Saava.org)</p>

            <p>Call it double or triple bottom line, mission or social investing, MRIs, PRIs, blended value...it simply makes sense.</p>

            <p>I use this lens when approaching any business, be it startups, fund advisors, nonprofits, or manufacturing companies.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Sustainability</a>, <a href="javascript:void(0)">Investing</a></small>
    </div>
</div><!-- eachpost div -->