<div class="eachpost">
    <div>
        <div>
        <img src="/images/forkfly2.jpg" width="200" height="281" /></div><br />
        <br />
        
        <div class="tileheader">
            COO + Product Lead
        </div>

        <div class="contentIndex">
            <p>Forkfly was an early entrant in the highly competitive location-based mobile space, and as COO I had the honor of building a rockstar development team from the ground up, managing and launching three web apps and two mobile platforms, prioritizing a seemingly endless feature list, bringing the company to first revenue, and helping lead overall strategy development.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Mobile</a>, <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Early Stage</a></small>
    </div>
</div><!-- eachpost div -->