<div class="eachpost">
    <div>
        <div>
        <img src="/images/helmets.jpg" width="200" height="149" /></div><br />
        <br />
        

        <div class="tileheader">
            What I do for fun...
        </div>

        <div class="contentIndex">
            <p>Don't tell my mom, but the stuff I do for fun usually involves a helmet. Mountaineering during spring, mountain biking during summer and fall, and skiing during winter.</p>

            <p>In town, you can usually find me at a coffee shop or brewpub pretending that I'm still in Portland, OR.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">About</a>, <a href="javascript:void(0)">Fun</a></small>
    </div>
</div><!-- eachpost div -->