<div class="eachpost">
    <div>
        <div>
        <a href="http://www.wired.com/beyond_the_beyond/2011/12/spime-watch-green-goose-stickers/" target="_blank"><img src="/images/ggoose2.jpg" width="200" height="175" /></a></div><br />
        <br />
        
        <div class="tileheader">
            COO + Biz Dev Lead
        </div>

        <div class="contentIndex">
            <p>I served as COO for innovative sensor startup GreenGoose during a critical time in the company's history, partnering with the solo founder after a successful seed round but still during the prototype phase.</p>

            <p>My role changed on a daily (if not hourly) basis, but ranged from crafting the go-to-market strategy and product definition, to early business development and fundraising.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
    </div>
</div><!-- eachpost div -->