<div class="eachpost">
    <div>
        <div>
        <img src="/images/ifvckedup.jpg" width="200" height="175" /></div><br />
        <br />

        <div class="tileheader">
            iFvckedUp.org
        </div>

        <div class="contentIndex">
            <p>Are you sick of all those books that tell you how a startup succeeded (our eyes are on you Founders at Work)? They are good reads, but we thought it was time to focus on the screwups. Much like the American Alpine Club publishes their annual journal chronicling mountaineering accidents, we created this site to show people what NOT to do. People have made the mistake already; let's honor them by not repeating it.</p>

            <p>The site was launched in a weekend with a fellow local entrepreneur. It was shut down a week later after we realized how hard it was to film yourself talking about your screw-ups. Fail fast.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Side Project</a>, <a href="javascript:void(0)">Lean</a></small>
    </div>
</div><!-- eachpost div -->