<div class="eachpost">
    <div>
        <div>
        <a href="http://inception.getkyn.com" target="_blank"><img src="/images/inception.jpg" width="200" height="175" /></a></div><br />
        <br />
        

        <div class="tileheader">
            Hackers + Ideas = Effective Philanthropy
        </div>

        <div class="contentIndex">
            <p>The Hypothesis: Hackers might focus on fixing more of society's greatest challenges if they simply knew where to start. Inception brings out ideas and pain points from practitioners in the charitable world and shares them with the developer community.</p>

            <p>I built the site over a holiday weekend to scratch an itch and explore meteor.js. Site is <a href="http://inception.getkyn.com">currently live,</a> and source code can be found <a href="https://www.github.com/chadokruse/inception">on Github.</a></p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Side Project</a></small>
    </div>
</div><!-- eachpost div -->