<div class="eachpost">
    <div>
        <div>
        <img src="/images/oz.jpg" width="200" height="175" /></div><br />
        <br />
        
        <div class="tileheader">
            Innovation Talks
        </div>

        <div class="contentIndex">
            <p>In late 2013 I was invited to give a series of talks on innovation in and around Perth, Australia (also known as the most remote capital city in the world). The message: innovation can happen anywhere.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Intrapreneurship</a>, <a href="javascript:void(0)">Entrepreneurship</a></small>
    </div>
</div><!-- eachpost div -->