<div class="eachpost">
    <div>
        <div>
        <img src="/images/intuit3.jpg" width="200" height="113" /></div><br />
        <br />
        
        <div class="tileheader">
            Technology Corporate Development
        </div>

        <div class="contentIndex">
            <p>Served as one of four dealmakers for Intuit, the Fortune 500 consumer-focused technology company. Our group not only executed software M&amp;A deals and explored new growth markets, but also served as internal sound board for business unit leaders while continuing to push for innovation across all levels of the company.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Software</a>, <a href="javascript:void(0)">Strategy</a>, <a href="javascript:void(0)">M&amp;A</a></small>
    </div>
</div><!-- eachpost div -->