<div class="eachpost">
    <div>
        <div>
        <img src="/images/intuit.png" width="200" height="260" /></div><br />
        <br />
        
        <div class="tileheader">
            Software Transactions
        </div>

        <div class="contentIndex">
            <p>The following is a representative list of software and online service transactions I have been involved in:</p>

            <ul>
                <li>American Fundware - Vertical Software</li>

                <li>Eclipse - Vertical Software</li>

                <li>Apps.com - Application Marketplace</li>

                <li>Paypal - Partnership</li>

                <li>Billpay / Princeton eCom - Disposition and Partnership</li>

                <li>Online Brokerage</li>
            </ul>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Software</a>, <a href="javascript:void(0)">M&amp;A</a></small>
    </div>
</div><!-- eachpost div --> 