<div class="eachpost">
    <div>

        <div><a href="http://kyn.me" target="_blank"><img src="/images/kyn.jpg" /></a></div><br />
        <br />

        <div class="tileheader">
            Democratizing Philanthropy
        </div>

        <div class="contentIndex">
            <p>You shouldn't need to recreate the infrastructure of the Gates Foundation to be an effective philanthropist. At The Kyn Project, we're rethinking modern philanthropy systems to bring simplicity, passion, and a personal connection to each and every charitable gift.</p>
            <!--p>Read more about <a href="http://kyn.me/our-story" target="_blank">why we created Kyn.</a></p-->

        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
    </div>
</div><!-- eachpost div -->
