<div class="eachpost">
    <div>
        
        <div><a href="http://www.getkyn.com" target="_blank"><img src="/images/kyn.jpg" width="200" height="100" /></a></div><br />
        <br />
        
        <div class="tileheader">
            Connected Philanthropy
        </div>

        <div class="contentIndex">
            <p>Philanthropy shouldn't have to be done in the dark. As Ev Williams puts it, "the sharing of ideas and experiences is what moves humanity forward." At Kyn, we're rethinking modern philanthropy systems to bring simplicity, passion, and a personal connection to each and every charitable gift.</p>
            <p>Read more about <a href="http://www.getkyn.com/our-story.html" target="_blank">why we created Kyn.</a></p>
            
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
    </div>
</div><!-- eachpost div -->