<div class="eachpost">
    <div>
        <div>
        <img src="/images/meteor.jpg"/></div><br />
        <br />

        <div class="tileheader">
            Meteor.js
        </div>

        <div class="contentIndex">

            <p>Meteor is a javascript framework and my current programming crush. I quickly fell in love with how fast you can launch a web app and thus it is an integral part of my rapid prototyping toolbox.</p>
            <p>I've also found it useful for those times I can't convince a SaaS startup with an API to create a feature. <a target="_blank" href="https://github.com/chadokruse/sprintly-visualizer">Just create it yourself</a> :)</p>

        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Dev</a></small>
    </div>
</div><!-- eachpost div -->
