<div class="eachpost">
    <div>
        <div>
          <img src="/images/question.jpg" width="200" height="175" />
        </div><br />
        <br />


        <div class="tileheader">
            How can I help your project?
        </div>

        <div class="contentIndex">
            <p>Looking for someone who understands technology and the charitable landscape?</p>

            <p>Let's chat.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Philanthropy</a></small>
    </div>
</div><!-- eachpost div -->
