<div class="eachpost">
    <div>
        <div>
        <a href="http://www.periscopegis.com" target="_blank"><img src="/images/periscope.jpg" width="200" height="175" /></a></div><br />
        <br />
        
        <div class="tileheader">
            Periscope GIS
        </div>

        <div class="contentIndex">
            <p>PeriscopeGIS is an online application that intends to make large GIS datasets useful to the 80% of GIS users with little to no formal GIS training.</p>

            <p>We're leveraging the ubiquity of Google Earth&trade;, the cost-effectiveness of AWS, and a little proprietary magic to drastically improve the user experience when accessing large, complicated GIS datasets.</p>

            <p>Largely a "nights and weekends" project.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Side Project</a></small>
    </div>
</div><!-- eachpost div -->