<div class="eachpost">
    <div>
        <div>
        <img src="/images/steel.jpg" width="200" height="150" /></div><br />
        <br />
        

        <div class="tileheader">
            Private Equity Transactions
        </div>

        <div class="contentIndex">
            <p>The following is a representative list of private equity transactions I have been involved in:</p>

            <ul>
                <li>O'Currance Teleservices - Inbound Call Center</li>

                <li>Laidlaw - Mfg of Industrial Products</li>

                <li>Pinnacle Exhibits - Custom Tradeshow Exhibits</li>
            </ul>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Offline</a>, <a href="javascript:void(0)">Buyouts</a></small>
    </div>
</div><!-- eachpost div -->
