<div class="eachpost">
    <div>
        <div><img src="/images/revisu.jpg" width="200" height="173" /></div><br />
        <br />
        
        <div class="tileheader">
            Advisor, Revisu
        </div>

        <div class="contentIndex">
        
            <p>Served as an advisor to Revisu, a seed-stage startup that went on to participate in the inaugural class of PIE, Wieden + Kennedy's incubator based in Portland.</p>
            
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
    </div>
</div><!-- eachpost div --> 