<div class="eachpost">
    <div>
        <div>
        <img src="/images/saava2.jpg" width="200" height="200" /></div><br />
        <br />
        
        <div class="tileheader">
            Saava.org
        </div>

        <div class="contentIndex">
            <p>Saava was part experiment, part informal network of individual investors, foundations, lenders, and resource providers. Members explored investment opportunities in mission-related organizations, using the Saava website to collaborate with other like-minded investors.</p>

            <p>I incubated and launched the project while on sabbatical ($7k all in...talk about lean), eventually reaching 35 local, accredited investors. The organization facilitated the review of over 60 Porltand-based organizations seeking capital, from smart growth real estate funds to cleantech upstarts and non-profits developing earned-income streams.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Sustainability</a>, <a href="javascript:void(0)">VC</a></small>
    </div>
</div><!-- eachpost div -->