<div class="eachpost">
    <div>
        <div>
        <img src="/images/saic2.jpg" width="200" height="150" /></div><br />
        <br />
        
        <div class="tileheader">
            Corporate VC
        </div>

        <div class="contentIndex">
            <p>As an early employee of the predecessor group to SAIC Ventures, I worked on the following list of VC deals:</p>

            <ul>
                <li>Nuance - Speech Recognition</li>

                <li>Vocal Data - Hosted IP Telephony</li>

                <li>Conita - Virtual Assistant</li>

                <li>CosmoCom - IP Contact Center Technology</li>

                <li>DigiLens - Switchable Hologram Technology</li>

                <li>Solect - IP Billing</li>
            </ul>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">VC</a></small>
    </div>
</div><!-- eachpost div -->