<div class="eachpost">
    <div>
        <div><a href="http://smartergiving.org" target="_blank"><img src="/images/smartergiving.jpg" /></a></div><br />
        <br />

        <div class="tileheader">
            Building the Internet's Donate Button
        </div>

        <div class="contentIndex">

            <p>We envision a world where any citizen of the Internet can donate to any nonprofit mentioned anywhere on the web, in one click, with minimal fees, confidently and securely.</p>

        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Socent</a></small>
    </div>
</div><!-- eachpost div -->
