<div class="eachpost">
    <div>
        <div>
        <img src="/images/solar.jpg" width="200" height="133" /></div><br />
        <br />
        
        <div class="tileheader">
            Utility Scale Solar Using NMTCs
        </div>

        <div class="contentIndex">
            <p>I was hired to assist a solar company explore the feasibility of using New Market Tax Credits (NMTCs) on a utility scale solar project in Eastern Oregon.</p>

            <p>Produced an intricate financial model which outlines risk sharing opportunities.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Cleantech</a></small>
    </div>
</div><!-- eachpost div -->
