<div class="eachpost">
    <div>
        <div>
        <img src="/images/excel.jpg" width="200" height="162" /></div><br />
        <br />
        
        <div class="tileheader">
            Transaction Structuring & Modeling
        </div>

        <div class="contentIndex">
            <p>The bulk of my "offline" consulting work focuses on transaction structuring and creating financial models.</p>

            <p>Most often, these involve renewable energy projects, forestry deals, and other deals requiring creative financing. Recently, I've been assisting firms explore the use of New Market Tax Credits (NMTCs) as a potential financing tool.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Sustainability</a>, <a href="javascript:void(0)">Cleantech</a>, <a href="javascript:void(0)">Offline</a></small>
    </div>
</div><!-- eachpost div -->