<div class="eachpost">
    <div>
        <div>
        <img src="/images/opportunity.jpg" width="200" height="150" /></div><br />
        <br />
        

        <div class="tileheader">
            Value Proposition: Cleantech
        </div>

        <div class="contentIndex">
            <p>I assisted a large engineering services firm assess their cleantech value proposition and develop market entry strategies.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Cleantech</a></small>
    </div>
</div><!-- eachpost div --> 