<div class="eachpost">
    <div>
        <div>
        <img src="/images/wilddoc.jpg" width="200" height="200" /></div><br />
        <br />
        

        <div class="tileheader">
            WiLD Forests I, L.P.
        </div>

        <div class="contentIndex">
            <p>In partnership with one of the most passionate domain experts I have met to date, I played a leadership role with the creation and eventual market launch of WiLD Forests I, L.P., a conservation-based timberland investment management fund. I lead corporate development, finance, and fundraising.</p>

            <p>The firm uses a unique approach to forest management, leveraging carbon offsets, conservation easements, and other "ecosystem services" to monetize lands while maintaining healthy forests.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Sustainability</a>, <a href="javascript:void(0)">Offline</a></small>
    </div>
</div><!-- eachpost div -->
