<div class="eachpost">
    <div>
        <div>
        <img src="/images/windbw.jpg" width="200" height="124" /></div><br />
        <br />
        

        <div class="tileheader">
            Wind Power Start-Up
        </div>

        <div class="contentIndex">
            <p>Part of a small group of trusted advisors assisting a refurbished wind turbine manufacturer reach scale.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Cleantech</a>, <a href="javascript:void(0)">Advisor</a></small>
    </div>
</div><!-- eachpost div -->