<div class="eachpost">
    <div>
        <div>
        <img src="/images/yanchep.jpg" width="200" height="110" /></div><br />
        <br />
        
        <div class="tileheader">
            Sustainable Communities
        </div>

        <div class="contentIndex">
            <p>I was hired by the developers of the largest private landholding in Western Australia. My task was to develop a modeling/valuation framework for assessing potential cleantech-related deals. The development is positioning itself to be a model, groundup sustainable community.</p>
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Sustainability</a>, <a href="javascript:void(0)">Offline</a></small>
    </div>
</div><!-- eachpost div -->