<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/packery-mode.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
 </script>
 <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("{{site.google_analytics_id}}");
    pageTracker._trackPageview();
    } catch(err) {}
 </script>
