<div class="eachcard col-xs-12 col-sm-6 col-md-4 col-lg-3 {% for each in card.tags %}{{each}} {% endfor %}">
  <div class="card-wrapper">
    <div class="card-image">
      {% if card.image_href %}
        <a href="{{ card.image_href }}" target="_blank"><img src="/images/{{ card.image }}"/></a>
      {% else %}
        <img src="/images/{{ card.image }}"/>
      {% endif %}
    </div>

    <div class="card-header">
      {{ card.header }}
    </div>

    <div class="card-body">
      {{ card.content }}
    </div>

    <div class="card-footer">
      <small>
        <ul class="list-inline">
          {% for each in card.tags %}
            <li><a class="card-tags js-filter" data-filter=".{{ each }}">#{{ each }}</a></li>
          {% endfor %}
        </ul>
      </small>
    </div>
  </div>
</div><!-- eachpost div -->
