<div class="eachcard max-w-sm p-5 {% for each in card.data.tags %}{{ each }} {% endfor %}">
  <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    {% if card.data.image_href %}
      <a href="{{ card.data.image_href }}"><img class="mx-auto rounded-t-lg bg-current" src="/images/{{ card.data.image }}" alt="{{ card.data.header }}" width="345"></a>
    {% else %}
      <img class="mx-auto rounded-t-lg" src="/images/{{ card.data.image }}" alt="{{ card.data.header }}" width="345">
    {% endif %}
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ card.data.header }}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ card.templateContent }}</p>
      {% for tag in card.data.tags %}
        <a class="js-filter bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900" data-filter=".{{ tag }}">{{ tag.}}</a>
      {% endfor %}
    </div>
  </div>
</div>
<!--
<div class="eachcard col-xs-12 col-sm-6 col-md-4 col-lg-3 {% for each in card.data.tags %}{{each}} {% endfor %}">
  <div class="card-wrapper">
    <div class="card-image">
      {% if card.data.image_href %}
        <a href="{{ card.data.image_href }}" target="_blank"><img src="/images/{{ card.data.image }}"/></a>
      {% else %}
        <img src="/images/{{ card.data.image }}"/>
      {% endif %}
    </div>

    <div class="card-header">
      {{ card.data.header }}
    </div>

    <div class="card-body">
      {{ card.templateContent }}
    </div>

    <div class="card-footer">
      <small>
        <ul class="list-inline">
          {% for each in card.data.tags %}
            <li><a class="card-tags js-filter" data-filter=".{{ each }}">#{{ each }}</a></li>
          {% endfor %}
        </ul>
      </small>
    </div>
  </div>
</div>
-->
<!-- eachpost div -->
