<div class="filter-bar">
  <ul class="list-inline list-unstyled navbar-left">
    <li class="js-filter-sidebar"><strong>Filter By:</strong></li>
    <li><a class="js-filter current" data-filter="*">All</a></li>
    <li><a class="js-filter" data-filter=".CorpDev">Corporate Development</a></li>
    <li><a class="js-filter" data-filter=".Founder">Founder</a></li>
    <li><a class="js-filter" data-filter=".StartupCOO">Startup COO &amp; Advisor</a></li>
  </ul>
  <ul class="list-inline list-unstyled navbar-right">
    <li><a href="/resume">Resume</a></li>
  </ul>
</div>
