<div id="topborder">
  <ul class="header-icons">
    <li><a href="https://twitter.com/chadkruser" target="_blank"><img src="/images/icons/twitter.png" alt="Twitter" title="Twitter"></a></li>
    <li><a href="https://www.linkedin.com/in/chadokruse/" target="_blank"><img src="/images/icons/linkedin.png" alt="LinkedIn" title="LinkedIn"></a></li>
    <li><a href="https://angel.co/chadokruse" target="_blank"><img src="/images/icons/angellist.png" alt="AngelList" title="AngelList"></a></li>
    <li><a href="https://github.com/chadokruse" target="_blank"><img src="/images/icons/github.png" alt="Github" title="Github"></a></li>
    <li class="text-link"><a href="mailto:ck@chadkruse.com" title="Get in touch"><b>Chad Kruse</b></a></li>
  </ul>
</div>

<div class="hero">

  <a href="/"><img class="logo" src="/images/logo.jpg" alt="Logo"></a>
  <span class="noscript"><noscript>You have Javascript turned off. This site requires Javascript to be viewed properly</noscript></span>

  <div class="hero-text">
    Current Status:<br>
    <span>Hacking on Philanthropy</span>
  </div>

</div>

{% include filter-bar.html %}

{% comment %}
  {% include filter-sidebar.html %}
{% endcomment %}

<div id="filter-focus"></div>
