<div id="topborder">
    <div id="topcontact">
        <p><span class="blue"><b>Chad Kruse</b></span>&nbsp; &nbsp; &nbsp;<a class="mailto" href="mailto:ck@chadkruse.com">ck@chadkruse.com</a></p>
    </div>
</div>

<div class="clear"></div>

<div id="header">
    <a href="/"><img src="/images/logo.jpg" alt="CK Logo" width="100" height="98" /></a><span class="noscript"><noscript>You have Javascript turned off. This site requires Javascript to be viewed properly</noscript></span>

    <!--div class="intro"><span style="color: #7dc679">This is my </span>life&hellip;<br>Startups <span style="color: #7dc679">are a big part of it.</span></div-->
    <div class="intro">
    Current Status:<br>
    <span style="font-size: 36px; color: #7dc679">Hacking on philanthropy</span></div>

    <div class="clear"></div>
</div>

<div id="navdiv">
    <div id="nav">
        <ul>
            <li><strong>Filter By:</strong></li>
            <!-- If using AJAX call instead of refresh, use these -->
            <li><a class="filter current" href="/all/">All</a></li>
            <li><a class="filter" href="/technology-ventures/">Tech Ventures</a></li>
            <li><a class="filter" href="/social-ventures/">Social Ventures</a></li>
            <!--li><a href="/" data-pathname="/">All</a></li>
            <li><a href="/technology-ventures" data-pathname="/technology-ventures/">Tech Ventures</a></li>
            <li><a href="/social-ventures" data-pathname="/social-ventures/">Social Ventures</a></li-->
        </ul>
    </div>
</div>

<div id="filter-focus"></div>

<div class="clear"></div>