<div id="topborder">
  <ul class="header-icons">
    <li><a href="https://twitter.com/chadkruser" target="_blank"><img src="/images/icons/twitter.png" alt="Twitter" title="Twitter"></a></li>
    <li><a href="https://www.linkedin.com/in/chadokruse/" target="_blank"><img src="/images/icons/linkedin.png" alt="LinkedIn" title="LinkedIn"></a></li>
    <li><a href="https://angel.co/chadokruse" target="_blank"><img src="/images/icons/angellist.png" alt="AngelList" title="AngelList"></a></li>
    <li><a href="https://github.com/chadokruse" target="_blank"><img src="/images/icons/github.png" alt="Github" title="Github"></a></li>
    <li class="text-link"><a href="mailto:ck@chadkruse.com" title="Get in touch"><b>Chad Kruse</b></a></li>
  </ul>
</div>

<div class="clear"></div>

<div id="header">
  <a href="/"><img src="/images/logo.jpg" alt="CK Logo" width="100" height="98" /></a><span class="noscript"><noscript>You have Javascript turned off. This site requires Javascript to be viewed properly</noscript></span>

  <!--div class="intro">
    <span style="color: #7dc679">This is my </span>life&hellip;<br>Startups <span style="color: #7dc679">are a big part of it.</span>
  </div-->

  <div class="intro">
    Current Status:<br>
    <span style="font-size: 36px; color: #7dc679">Hacking on Philanthropy</span>
  </div>

  <div class="clear"></div>
</div>

{% include filter-bar.html %}

{% comment %}
  {% include filter-sidebar.html %}
{% endcomment %}

<div id="filter-focus"></div>

<div class="clear"></div>
