<div id="allposts">
    
        <!-- Intro Tile -->
        {% include tiles/intro-tech.html %}
        
        <!-- Main Tiles -->

        {% include tiles/kyn.html %}

        {% include tiles/greengoose.html %}

        {% include tiles/forkfly.html %}

        {% include tiles/bonanzle.html %}

        {% include tiles/inception.html %}

        {% include tiles/saic.html %}

        {% include tiles/10speak.html %}

        {% include tiles/consulting.html %}

        {% include tiles/innovation-talks.html %}

        {% include tiles/intuit-corpdev.html %}  
        
        {% include tiles/revisu.html %}              

        {% include tiles/lidar.html %}
        
        {% include tiles/intuit-transactions.html %}

        {% include tiles/github.html %}
        
        {% include tiles/periscope.html %}              

        <!-- Copyright Tile -->
        {% include tiles/copyright.html %}

    </div><!-- allposts div -->