<div class="eachcard max-w-sm p-5" data-filter="About">
  <div class="bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <img class="mx-auto rounded-t-lg" src="/images/chicago.jpg" alt="Chicago" width="345" />
    <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        A Bit About Me
      </h5>
      <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <p class="mb-3">Before launching my own ventures and teaching myself to code, I was often brought on as the first "business hire" at startups of all shapes and sizes, online and offline. I've run development teams, owned product strategy, raised venture, seed, debt, and philanthropic capital, and closed business development deals with companies both large and small. I'm a generalist through and through.</p>
        <p class="mb-3">My career started as a strategist and dealmaker for large tech companies, and I'm often told I have a unique ability to talk shop with programmers, VC's, designers, boards of directors, philanthropists and everyone in between.</p>
        <p class="mb-3">My head is in SF, my heart is in Bend (OR), and my body is currently in Chicago.</p>
      </div>
      <a class="js-filter bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900" data-filter=".About">About</a>
    </div>
  </div>
</div>
