<div class="eachcard col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card-wrapper">
    <div class="card-image">
      <img src="/images/chicago.jpg" width="200" />
    </div>

    <div class="card-header">
      A Bit About Me
    </div>
    
    <div class="card-body">
      <p>Before launching my own ventures and dabbling with code, I was often brought on as the first "business hire" at startups of all shapes and sizes, online and offline. I've run development teams, owned product strategy, raised venture, seed, debt, and philanthropic capital, and closed business development deals with companies both large and small. I'm a generalist through and through.</p>
      <p>My career started as a strategist and dealmaker for large tech companies, and I'm often told I have a unique ability to talk shop with programmers, VC's, designers, boards of directors, philanthropists and everyone in between.</p>
      <p>My head is in SF, my heart is in Bend (OR), and my body is currently in Chicago.</p>
    </div>

    <div class="card-footer">
      <small>
        <ul class="list-inline">
          <li><a class="card-tags js-filter" data-filter=".About">#About</a></li>
        </ul>
      </small>
    </div>
  </div><!-- eachpost div -->
</div>
