<div class="eachcard max-w-sm p-5">
  <div class="bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
      <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <p class="mb-3"><strong>Hello!</strong> I'm Chad Kruse, a product builder, full-stack developer, and recovering corporate development guy.</p>
        <p class="mb-3">This site describes some of my open source work, startup endeavors, consulting engagements, advisory activities, and traditional work history.</p>
      </div>
    </div>
  </div>
</div>
