<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Description" content="Chicago-based entrepreneur, lean-startup enthusiast, and recovering corporate development guy." />
    <meta name="Keywords" content="startups, social enterprise, modern philanthropy, business development, venture capital, web, strategy, corporate development, consulting, consultant, portland, mission related, triple bottom, double bottom" />

    <title>{{ page.title }}</title>
    <meta name="author" content="Chad Kruse" />
    <link rel="icon" type="image/png" href="/images/icon.png" />
    
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    
    <!-- Javascripts -->
    <!-- <script type="text/javascript" src="/scripts/jquery-1.2.6.pack.js"></script> -->
    <script type="text/javascript" src="/scripts/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-scrolltofixed.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.jfade.1.0.min.js"></script>
    <script type="text/javascript" src="/scripts/grid-a-licious.js"></script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>
    
</head>
<body>
    <div id="body-wrapper">
    
    {{content}}

    </div>

    <!-- DO NOT REMOVE THIS LINE. Grid-A-Licious(tm), a Wordpress theme by Suprb (www.suprb.com). (c) 2008 Suprb. DO NOT REMOVE THIS LINE. -->
    
    {% include body-scripts.html %}
    
</body>
</html>
