<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Description" content="Chicago-based entrepreneur, lean-startup enthusiast, and recovering corporate development guy." />
    <meta name="Keywords" content="startups, social enterprise, modern philanthropy, business development, venture capital, web, strategy, corporate development, consulting, consultant, portland, mission related, triple bottom, double bottom" />

    <title>{{ page.title }}</title>
    <meta name="author" content="Chad Kruse" />
    <link rel="icon" type="image/png" href="images/icon.png" />
    
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
    
    <!-- Javascripts -->
    <script type="text/javascript" src="scripts/jquery-1.2.6.pack.js"></script>
    <script type="text/javascript" src="scripts/jquery.jfade.1.0.min.js"></script>
    <script type="text/javascript" src="scripts/grid-a-licious.js"></script>
    <script type="text/javascript" src="scripts/scripts.js"></script>
    
</head>
<body>
    <div class="container">
    
    {{content}}

    </div>
    
    {% include body-scripts.html %}
    
</body>
</html>
