<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="Description" content="Chicago-based lean-startup enthusiast, innovation consultant, and intrapreneur for good." />
      <meta name="Keywords" content="startups, social enterprise, modern philanthropy, business development, venture capital, web, strategy, corporate development, consulting, consultant, mission related, triple bottom, double bottom" />
      <title>{{ page.title }}</title>
      <meta name="author" content="Chad Kruse" />
      <link rel="icon" type="image/png" href="/images/icon.png" />

      <!-- Homepage CSS -->
      <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />

      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

      <!-- Javascripts -->
      <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
      <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
      <script type="text/javascript" src="/js/packery-mode.pkgd.min.js"></script>
      <script type="text/javascript" src="/js/jquery-scrolltofixed.min.js"></script>
      <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
      <div id="body-wrapper">
        {{content}}
      </div>
      {% include body-scripts.html %}
  </body>
</html>
