<div class="eachpost">
    <div>
        
        <div><img src="{{ page.image_url }}" width="{{ page.image_width }}" height="{{ page.image_height }}" /></div><br />
        <br />
        

        <div class="tileheader">
            {{ page.header }}
        </div>

        <div class="contentIndex">
            {{ content }}
            
        </div>
        <small>Filed under:&nbsp; <a href="javascript:void(0)">Web</a>, <a href="javascript:void(0)">Seed Stage</a></small>
    </div>
</div><!-- eachpost div -->