---
layout: resume
title: Chad Kruse | Resume
permalink: /resume/
---
{% assign resume = resume-public %}
<!-- header -->
<div class="container">
  <div class="row">
    <div class="header">
      <div class="col-xs-6">
        <h1 class="name">{{ resume.basics.name }}</h1>
        <h3 class="title">{{ resume.basics.label }}</h3>
      </div>
      <div class="col-xs-6 contact-info">
        <ul class="pull-right">
          <li><strong>Email:</strong> {{ resume.basics.email }}</li>
          <li><strong>Phone:</strong> {{ resume.basics.phone }}</li>
          <li><strong>Website:</strong> <a href="{{ resume.basics.website }}">{{ resume.basics.website | split: "https://" | last }}</a></li>
          <ul class="list-inline list-profiles">
            {% for profile in resume.basics.profiles %}
            <li>
              <img src="/images/icons/{{ profile.network | downcase }}.svg" alt="{{ profile.network }}" width="14px" height="14px">
              <a href="{{ profile.url }}" data-print="{{ profile.url | split: 'https://' | last}}"">{{ profile.username }}</a>
            </li>
            {% endfor %}
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0;" />

  <!-- Objective -->
  <div class="row" id="objective">
    <div class="col-xs-12 col-sm-2">
      <h4 class="section-title"> Objective </h4>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-0 col-sm-offset-0">
      {{ resume.basics.summary }}
    </div>
  </div>
  <hr />

  <!-- Skills -->
  <div class="row" id="skills">
    <div class="col-xs-12 col-sm-2">
      <h4 class="section-title"> Skills </h4>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-0">
      <div class="row row-flex-stretch">
      {% for skill in resume.skills reversed %}
        <div class="col-xs-12 col-flex-stretch">
        {% if skill.name == 'Strategy' %}
          <span class="hidden-sm hidden-md hidden-lg">Full list available in printed resume.</span>
          <div class="skill hidden-xs">{{ skill.name }}</div>
          <hr class="skills-hr hidden-xs">
          <ul class="hidden-xs">
          {% for keyword in skill.keywords %}
            <li>{{ keyword }}</li>
          {% endfor %}
          </ul>
        {% else %}
          <div class="skill">{{ skill.name }}</div>
          <hr class="skills-hr">
          <ul>
          {% for keyword in skill.keywords %}
            <li>{{ keyword }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <hr />

  <!-- Experience Detail -->
  <div class="row" id="experience">
    <div class="col-xs-12 col-sm-2">
      <h4 class="section-title"> Experience </h4>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-0">
      <ul class="list-unstyled list-inline experience-summary">
        {% for each in resume.extras.overview %}
        <li>{{ each.role }}: {{ each.duration }}</li>
        {% endfor %}
      </ul>
      <hr />
      {% assign jobs = resume.work | where: "category" , "Job" %}
      {% for job in jobs reversed %}
      {% unless job.company == "Riverlake Partners" %}
        <div class="row">
      {% else %}
        <div class="row pagebreak">
      {% endunless %}
          <div class="col-xs-12 col-sm-6">
            <div class="company"> {{ job.company }} </div>
          </div>
          <div class="hidden-xs col-sm-6">
            <div class="company-date pull-right text-right">
              <span>{{ job.startDate | date: "%b, %Y" }}</span>
              <span>{% if job.endDate == "" %}- Present{% else %}- {{ job.endDate | date: "%b, %Y" }}{% endif %}</span>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="company-position">{{ job.position }}</div>
          </div>
          <div class="hidden col-xs-12 visible-xs-block italic">
            <div class="company-date hidden-print">
              <em>
              <span>({{ job.startDate | date: "%b, %Y" }}</span>
              <span>{% if job.endDate == "" %}- Present{% else %}- {{ job.endDate | date: "%b, %Y" }}{% endif %})</span>
            </em>
            </div>
          </div>
        </div>
        <div class="row company-description">
          <div class="col-xs-12">
            <p class="company-summary">{{ job.summary }}</p>
            <ul>
              {% for highlight in job.highlights %}
              <!-- TODO Capture url addresses and make clickable -->
              <li>{{ highlight }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr />

  <!-- Education -->
  <div class="row" id="education">
    <div class="col-xs-12 col-sm-2">
      <h4 class="section-title"> Education </h4>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-0">
      {% for each in resume.education %}
      <div class="row education-section">
        <div class="col-xs-10">
          <div class="school"> {{ each.institution }} </div>
          {{ each.studyType }} in {{ each.area }}
        </div>
        <div class="col-xs-2">
          <div class="pull-right">
            {{ each.endDate | date: "%b, %Y" }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr />

  <!-- Interests -->
  {% if resume.interests %}
  <div class="row" id="interests">
    <div class="col-xs-2 col-sm-2">
      <h4 class="section-title"> Interests </h4>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-0">
      {% for each in resume.interests %} 
        {% if forloop.first == true %}
          {{ each.name | capitalize }};
        {% elsif forloop.last == true %}
          {{ each.name | downcase}}.
        {% else %}
          {{ each.name | downcase}};
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
